.food_list_card_header{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.spacer {
    flex: 1 1 auto;
}

.food_list_card_header_text{
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
}

/* #displayContainer{
    margin-left: 10px;
    padding: 40px;
    border-radius: 24px;
    border: 2px solid red;
}

#container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    width: 500px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.food_list_image{
    border: 2px solid red;
    background-color: whitesmoke;
    width: 80px;
    height: 80px;
}

.food_list_items{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 1.4;
    border: 2px solid red;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
}

#searchBox{
    width: 250px;
    padding-left: 5px;
} 

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.todayFood{
    border: 2px solid red;
}

#InputTodayList{
    height: 34px;
    padding: 5px;
}

#addButton{
    height: fit-content;
    font-size: 18px;
    cursor: pointer;
    background-color: #2C74B3;
    border: 0.6px solid rgb(92, 59, 59);
    border-radius: 4px;
    color: white;
    padding: 6px;
}

.addContainer{
    display: flex;
    flex-direction: row;
} */