
<nb-layout>  
  <nb-layout-header class="header">
    <!-- Hamburger_icon -->
    <button nbButton status="basic" size="tiny" (click)="toggleCompact()">
      <img class="toggle_menu" src="../assets/Hamburger_icon.svg.png" alt="">
    </button>
    <!-- App_name -->
    <span class="app_name">Calory tracker</span>
    <span class="spacer"></span>
    <!-- Dropdown_menu -->
    <div class="dropdown" (mouseenter)="showMenu = true" (mouseleave)="showMenu = false">
      Track your calories 
      <span><img src="../assets/dropdownsymbol.png" alt=""></span>

      <!-- Dropdown content Only visible on hover -->
      <div *ngIf="showMenu" class="menu">
        <nb-card accent="info">
          <nb-card-body>
            <nb-list>
              <nb-list-item (click)="setShowAddFood()" >Add Food</nb-list-item>
              <nb-list-item (click)="setShowFoodList()" >Food List</nb-list-item>
            </nb-list>
          </nb-card-body>
        </nb-card>
      </div>    

    </div> 
    <!-- Google_signin if not loggedin-->
    <mat-card *ngIf="!loggedIn">
      <google-signin-butt [selectable]="showGoogleLogin"></google-signin-butt>
    </mat-card>  
    <!-- Profile_pic if loggedin-->
    <button *ngIf="loggedIn" [matMenuTriggerFor]="beforeMenu">
      <img class="profile_img" width="50" variant="contained" shape="circle" [src]="user.photoUrl" [alt]="user.name" referrerpolicy="no-referrer">
    </button>
    <!-- Displays profile info on clicking profile pic -->
    <mat-menu #beforeMenu="matMenu" xPosition="before">
        <mat-list class="profile-display">
          <mat-list-item>
            <span matListItemTitle>{{ user.name }}</span>
            <span matListItemLine>{{ user.email }}</span>
          </mat-list-item>
        
          <mat-list-item>
            <button mat-raised-button color="primary" (click)="logout()">Logout</button>
          </mat-list-item>
        </mat-list>
    </mat-menu>
  </nb-layout-header>
  <!-- sidebar -->
  <nb-sidebar class="sidebar" state="compacted">
    <nb-list *ngIf="!compacted">
      <nb-list-item class="menu_items" (click)="setShowAddFood()">
        <p>Add Food</p>
      </nb-list-item>
      <nb-list-item class="menu_items" (click)="setShowFoodList()">
        <p>Food List</p>
      </nb-list-item>
    </nb-list>

    <!-- <nb-menu [items]="items" (click)="setsidenavemenu()">
    </nb-menu> -->
  </nb-sidebar>
  <!-- main content -->
  <nb-layout-column  class="colored-column-primary">
    <!-- 1. Add Food Items card -->
    <div *ngIf="showAddFood" class="add FoodContainer">
      <nb-card status="success">
        <nb-card-header>Add Food Items</nb-card-header>
        <nb-card-body>
          <div class="add_food_card_body">
            <label class="add_food_card_body_label" for="Name">Name:</label>
            <input nbInput type="text" id="name" placeholder="Item name" [(ngModel)]="name" >
            <br>
            <label class="add_food_card_body_label" for="Calories">Calories</label>
            <input nbInput type="text" id="calories" placeholder="Item calory" [(ngModel)]="calories" > 
            <br>
            <label class="add_food_card_body_label" for="Image">Image URL</label>
            <input nbInput type="text" id="image" placeholder="Image URL" [(ngModel)]="image" >
            <br>
          </div>
          <button nbButton status="basic" id="add_newFood_button" type="submit" (click)="addList()" >Add New Food</button>
        </nb-card-body>
      </nb-card>    
    </div>
    <!-- 2. Food List card -->
    <div *ngIf="showFoodList">
        <app-app-food-list [filteredList]="newList" ></app-app-food-list>
    </div>

  </nb-layout-column>
</nb-layout>

<router-outlet></router-outlet>
