<div class="sidebar_container">
    <nb-list>
        <nb-list-item class="menu_items">
            <a routerLink="/addfood" (click)="hideSidebar()">
                Add Food
            </a>
        </nb-list-item>
        <nb-list-item class="menu_items">
            <a routerLink="/foodlist" (click)="hideSidebar()" >
                Food List
            </a>
        </nb-list-item>
        <nb-list-item class="menu_items">
            <a routerLink="/search" (click)="hideSidebar()" >
                Search
            </a>
        </nb-list-item>
      </nb-list>  
</div>